@import "../less/globals.less";

.footer {
	background-color: @COLOR-WHITE;
	color: @COLOR-BLACK;
	text-align: center;
	padding: 2em 0;
	ul {
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 1em;
			a {
				color: @COLOR-BLACK;
			}
		}
	}
}