@import "../less/globals.less";

.navbar-container {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.navbar-overlay {
	background-color: @COLOR-BLACK;
	opacity: 0.5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.navbar {
	//margin-bottom: -56px;
    //z-index: 1;
    a {
    	text-decoration: none;
    	text-transform: uppercase;
		font-weight: @FONT-WEIGHT-LIGHT;
    }
    .navbar-toggler { 
		border: none;
		//outline-color: @COLOR-WHITE;
		outline: none;
		span {
			background-image: url('../img/menu-hamburger.png');
			width: 22px;
			height: 22px;
			opacity: 0.6;
		}
    }
    .navbar-collapse {
    	justify-content: center;
    	a {
    		color: @COLOR-BLACK;
			opacity: 0.6;
		}
    }
    .navbar-collapse.show {
    	a {
			opacity: 1.0;
		}
    }
    .nav-item:hover, .nav-item:focus {
		text-decoration: underline;
		opacity: 1.0;
    }
}