@import "../less/globals.less";

.socialmedia {
	ul.contents {
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 1em;
			a {
				color: @COLOR-BLACK;
				font-size: 2em;
			}
		}
	}
}